/* Set styles for the body element */
body {
    background-color: #121212; /* Dark background for dark mode */
    color: #ffffff; /* Light text color for contrast */
    font-family: Arial, sans-serif; /* Use Arial as the primary font */
    font-size: 10px; /* Defines the base font size as 10 pixels */
    transition: background-color 0.5s, color 0.5s; /* Smooth transition for color changes */
}

/* Set styles for light mode */
.light-mode {
    background-color: #ffffff; /* Light background for light mode */
    color: #121212; /* Dark text color for contrast */
}

/* Style the dark mode toggle button */
.dark-mode-toggle {
    position: fixed; /* Keep button fixed on screen */
    top: 1rem; /* Position from the top */
    right: 1rem; /* Position from the right */
    padding: 0.5rem 1rem; /* Add padding for better clickability */
    background-color: #444444; /* Dark gray background */
    color: #ffffff; /* White text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Show pointer to indicate it's clickable */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

/* Change background color of toggle button on hover */
.dark-mode-toggle:hover {
    background-color: #333333; /* Slightly darker gray for hover effect */
}

.node-tooltip {
    position: absolute;
    max-width: 300px; /* Set a limit for dynamic width */
    padding: 12px 15px; /* Increase padding for more space */
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.5; /* Adjust line spacing */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    pointer-events: none;
    box-sizing: border-box; /* Include padding and border in size calculations */
    word-wrap: break-word; /* Handle long words */
    white-space: normal; /* Allow text wrapping */
}


